@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.img1 {
  height: 70%;
  align-self: center;
}

.img2 {
  height: 70%;
  align-self: center;
}

@keyframes OMG {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

body {
  margin: 0;
  background-image: url(assets/font.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

* {
  font-family: "Pacifico", cursive;
  color: rgb(253, 134, 154);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  width: 589px;
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background: linear-gradient(
    80deg,
    #ffc7d1,
    #ffd5b8,
    #fffbd4,
    #e2ffd9,
    #d8f3ff,
    #d6dcff,
    #ebd4ff,
    #ffd6f0
  );
  /*background: linear-gradient(
    80deg,
    hsl(0, 100%, 89%),
    hsl(45, 100%, 89%),
    hsl(90, 100%, 89%),
    hsl(135, 100%, 89%),
    hsl(170, 100%, 89%),
    hsl(215, 100%, 89%),
    hsl(260, 100%, 89%),
    hsl(315, 100%, 89%)
  );*/
  width: 100%;
  height: 100%;
  animation: OMG 1s infinite linear;
  border-radius: 8px;
}

.btn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}
