.nom{
  background-color: rgba(255, 255, 255, 0.349);
  border: solid 2px pink;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.pp{
  border-radius: 50%;
  width: 200px;
}

.taille{
  width: 57px;
}

.lien div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.img{
  width: 50px;
}
.lien {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;

}

.presentation{
  background-color: rgba(255, 255, 255, 0.349);
  border: solid 2px pink;
  padding: 25px;
  border-radius: 5px;
}
